<div class="image-grid">
  {{#each model.data as |image|}}
    <div class="image-grid__item">
      {{#unless image.is_album}}
        <figure class="post">
          <div class="post__frame">
            <img src="{{ image.img }}" alt="">
          </div>
          <figcaption>a title goes here</figcaption>
          <p>{{ image.title }}</p>
        </figure>
        {{else}}
          <figure class="post">
            <div class="post-frame">
              <p>no image found</p>
            </div>
            <p>{{image.title}}</p>
          </figure>
      {{/unless}}
    </div>
  {{/each}}
</div>


{{outlet}}
